:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  button {
    place-self: start;
  }
}

.progress {
  place-self: center;
  --tui-thickness: 0.225rem;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
