<header class="header" tuiSurface="elevated">
  <div [formGroup]="form">
    <tui-toggle size="l" formControlName="night" class="toggler" />
  </div>

  <nav class="header__nav">
    <div class="header__nav-menu">
      @if (auth.isLoggedIn$ | async) {
        <img
          class="logo"
          src="assets/images/connections.svg"
          alt="logo"
          [routerLink]="(auth.isLoggedIn$ | async) ? ['/'] : null"
          [@fadeIn]="logged ? 'logged' : null"
          />
      }
    </div>

    @if (!(auth.isLoggedIn$ | async)) {
      <div
        class="header__nav-auth"
        >
        <button tuiButton size="s" [routerLink]="['auth/signin']">Sign In</button>
        <button
          tuiButton
          size="s"
          appearance="flat"
          [routerLink]="['auth/signup']"
          >
          Sign Up
        </button>
      </div>
    } @else {
      <button tuiButton size="s" [routerLink]="['profile']">Profile</button>
    }
  </nav>
</header>

